<div class="container">
  
  <div class="main-content">
    
    <div class="robot">

      <div class="robot-head">
        
        <div class="handle">
          <div class="handle-top"></div>
          <div class="handle-left"></div>
          <div class="handle-right"></div>
        </div>

        <div class="robot-skull">
          
          <div class="dials">
            <div class="left-dial"></div>
            <div class="right-dial"></div>
          </div>
        
          <div class="head-block eye left-eye">
            <div class="pupil"></div>  
          </div>
          
          <div class="head-block center">
            <div class="type-logo">
              <div class="line-one">Robot</div>
              <div class="line-two">Audio</div>
            </div>
            <div class="oscilloscope"></div>
          </div>
          
          <div class="head-block eye right-eye">
            <div class="pupil"></div>  
          </div>

        </div>
        
      </div>
      
      <div class="robot-body">
        <div class="robot-neck"></div>
        <div class="robot-torso"></div>
      </div>
      
    </div>
    
    <div class="email-signup">
        <div class="email-container">
            <input class="email-input" type="text" placeholder="email address" />
            <a class="submit" href="#">sign up</a>
        </div><!-- ./email-container -->
        <div>sign up to get notified about our beta</div>
    </div>
    
  </div>
  
</div>
