<!doctype html>
<html>
  <head>
      <title>Robot Audio</title>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="/media/styles/reset.css">
      <link rel="stylesheet/less" href="/media/styles/synth.css">
      <link rel="stylesheet/less" href="/media/styles/style.less">
      <script src="/media/scripts/libs/less.js"></script>

  </head>
  <body>
    <div class="container">
  
      <div class="main-content">
    
        <div class="robot">

          <div class="robot-head">
        
            <div class="handle">
              <div class="handle-top"></div>
              <div class="handle-left"></div>
              <div class="handle-right"></div>
            </div>

            <div class="robot-skull">
          
              <div class="dials">
                <div class="left-dial"></div>
                <div class="right-dial"></div>
              </div>
        
              <div class="head-block eye left-eye">
                <div class="pupil"></div>  
              </div>
          
              <div class="head-block center">
                <div class="type-logo">
                  <div class="line-one">Robot</div>
                  <div class="line-two">Audio</div>
                </div>
                <div id="oscilloscope" class="oscilloscope"></div>
              </div>
          
              <div class="head-block eye right-eye">
                <div class="pupil"></div>  
              </div>

            </div>
        
          </div>
      
          <div class="robot-body">
            <div class="robot-neck"></div>
            <div class="robot-arm left-arm">
              <div class="hand">
                <div class="fingers"></div>
                <div class="thumb"></div>
              </div>  
            </div>
            <div class="robot-arm right-arm">
              <div class="hand">
                <div class="fingers"></div>
                <div class="thumb"></div>
              </div>  
            </div>
            <div class="robot-torso">
              <div class="synth"></div>
            </div>
            <div class="robot-leg left-leg">
              <div class="foot"></div>
            </div>
            <div class="robot-leg right-leg">
              <div class="foot"></div>  
            </div>
           </div>
     
        </div>
    
      </div>
  
    </div>

    <!-- templates -->
    <script class="synth-template" type="text/html">
      <div class="dashboard-top">
        <div class="column">
          <div class="group patch-presets-group">
            <h3>Patch Presets</h3>
            <div class="patches"></div>
          </div>
        </div>
            
        <!--
        <div class="column">
          <div class="group cf">
            <h3>Metronome</h3>
            <div class="metronome"></div>
          </div>
        </div>
        -->
            
        <div class="column">
          <div class="group cf">
            <h3>Delay</h3>
            <div class="delay"></div>
          </div>
        </div>
        <div class="column">
          <div class="group cf">
            <h3>Filter</h3>
            <div class="filter"></div>
          </div>
        </div>

        <div class="column">
          <div class="group cf">
            <h3>LFO</h3>
            <div class="lfo"></div>
          </div>
        </div>

      </div>

      <div class="dashboard">
        <div class="column">
          <div class="group cf">
            <h3>Oscillators</h3>
            <div class="oscillator-module"></div>
          </div>
        </div>
        <!--
        <div class="column">
          <div class="group">
            <h3>Mixer</h3>
            <div class="mixer"></div>
          </div>
        </div>
        -->
        <div class="column">
          <div class="group">
            <h3>Filter Envelope</h3>
            <div class="filter-envelope"></div>
          </div>
        </div>
        <div class="column">
          <div class="group">
            <h3>Amp Envelope</h3>
            <div class="amp-envelope"></div>
          </div>
        </div>

        <!--
        <div class="column">
          <div class="group loop-module-group">
            <h3>Loop Module</h3>
            <div class="loop-module"></div>
          </div>
        </div>
        -->
            
        <div class="column">
          <div class="group">
            <h3>CV Patches</h3>
            <div class="cv-patches">
            </div>
          </div>
        </div>
            
      </div>
          

      <div class="bottom cf">
        <div id="keyboard"></div>
        
        <div class="email-signup">
          <p>Robot is an Online Audio Workstation for electronic musicians. Coming this winter!</p>
          <div class="call-to-action">Sign up to be notified about early releases and updates!</div>
          <div class="email-container">
            <input class="email-input" type="text" placeholder="email address" />
            <a class="submit" href="#">sign up</a>
          </div>
        </div>
      </div>
    </script>
        
    <script class="oscillator-module-template" type="text/html">
      <div class="block">
        <!--<h5>OSC1</h5>-->
        <div class="osc-1"></div>
      </div>
      <div class="block">
        <!--<h5>OSC2</h5>-->
        <div class="osc-2"></div>
      </div>
      <div class="block">
        <!--<h5>OSC3</h5>-->
        <div class="osc-3"></div>
      </div>
    </script>
        
    <script class="mixer-template" type="text/html">
      <div class="row">
        <div class="block">
          <h5>GAIN</h5>
          <div class="gain-1"></div>
        </div>
        <div class="block noise-block">
          <h5>Noise</h5>
          <div class="noise-gain"></div>
        </div>
      </div>
      <div class="block">
        <h5>GAIN</h5>
        <div class="gain-2"></div>
      </div>
      <div class="block">
        <h5>GAIN</h5>
        <div class="gain-3"></div>
      </div>
    </script>
        
        
    <script class="oscillator-template" type="text/html">
      <div class="row">
        <div class="block">
          <h5>Waveform</h5>
          <div class="waveform"></div>
        </div>
        <div class="block">
          <h5>Detune</h5>
          <div class='detune'></div>
          <!--<input class="detune" min="-1200" max="1200" step="1" value="<%= detune %>" type="range" />-->
          <span class="reading detune-reading"><%= detune %></span>
        </div>
      </div>
    </script>
        
    <script class="lfo-template" type="text/html">
      <div class="block">
        <h5>Waveform</h5>
        <div class="waveform"></div>
      </div>
      <div class="block frequency-block">
        <h5>Freq</h5>
        <div class="frequency"></div>
        <div class="reading frequency-reading"><%= frequency %></div>
      </div>
      <div class="block">
        <h5>Gain</h5>
        <div class="gain"></div>
        <div class="reading gain-reading"><%= gain %></div>
      </div>
      <!--
      <div class="block">
        <h5>Tempo Sync</h5>
        <input type="checkbox" class="tempo-sync" />
      </div>
      -->
    </script>
        
    <script class="gain-node-template" type="text/html">
      <div class="gain"></div>
      <span class="reading gain-reading"><%= gain %></span>
    </script>
        
    <script class="keyboard-template" type="text/html">
      <div id="keyboard"></div>
    </script>
        
    <script class="filter-template" type="text/html">
      <div class="block filter-frequency-block">
        <h5>Freq</h5>
        <div class="frequency"></div>
        <span class="reading frequency-reading"><%= frequency %></span>
      </div>
      <div class="block">
        <h5>Resonance</h5>
        <div class="resonance"></div>
        <span class="reading resonance-reading"><%= resonance %></span>
      </div>
    </script>
        
    <script class="envelope-template" type="text/html">
      <h5>Attack</h5>
      <input class="attack" min=".01" max="3" step="0.01" value="<%= attack %>" type="range" />
      <span class="reading attack-reading"><%= attack %></span>
          
      <h5>Decay</h5>
      <input class="decay" min=".01" max="3" step="0.01" value="<%= decay %>" type="range" />
      <span class="reading decay-reading"><%= decay %></span>
          
      <h5>Sustain</h5>
      <input class="sustain" min="0" max="<%= maxValue %>" step="0.01" value="<%= sustain %>" type="range" />
      <span class="reading sustain-reading"><%= sustain %></span>
          
      <h5>Release</h5>
      <input class="release" min=".01" max="3" step="0.01" value="<%= release %>" type="range" />
      <span class="reading release-reading"><%= release %></span>
    </script>

    <script class="delay-template" type="text/html">
      <div class="block">
        <h5>Time</h5>
        <div class="time"></div>
        <span class="reading time-reading"><%= time %></span>
      </div>
      <div class="block">
        <h5>Gain</h5>
        <div class="gain"></div>
        <span class="reading gain-reading"><%= gain %></span>
      </div>
    </script>
        
    <script class="metronome-template" type="text/html">
      <div class="block">
        <h5>Tempo</h5>
        <div class="tempo"></div>
      </div>
      <div class="block">
        <div class="beat-indicator"></div>
        <div class="reading tempo-reading"><%= tempo %></div>
        <div class="on-off">
          on: <input type="checkbox" class="state" value="1" <% if (state) { %>checked<% } %>/>
        </div>
      </div>
    </script>
        
    <script class="loop-module-template" type="text/html">
      <a href="#" class="microphone" title="toggle microphone on/off"></a>
      <div class="info">
        Press ~ to start recording a loop<br/>
        on the downbeat. <br/><br/>
        Then again to stop.
      </div>
      <a href="#" class="record" title="hotkey: ~">Record Loop</a>
    </script>
        
    <script class="buffer-template" type="text/html">
      <a href="#" class="delete">x</a>
      <a href="#" class="upload" title="Open Source This Loop"></a>
      <div class="waveform"></div>
    </script>

    <script class="patches-template" type="text/html">
      <h5>Patches</h5>
      <select class="patches" type="select">
      </select>
      <a href="#" class="save-patch">Save Patch as Preset</a>
    </script>

    <script class="patch-template" type="text/html">
      <option value="<%= _id %>"><%= name %></option>
    </script>

    <script class="cv-patch-template" type="text/html">
      <h5>CV Patch</h5>
      <select class="sources" type="select">
      </select>
      >
      <select class="destinations" type="select">
      </select>
      <div class="gain mini-knob"></div>
    </script>

    <script class="cv-patches-template" type="text/html">
      <ul class="cv-patches-list"></ul>
      <a class="add-cv-patch" href="#">+ Add Patch</a>
    </script>

    <script class="knob-template" type="text/html">
      <div class="knob">
        <div class="indicator"></div>
      </div>
    </script>

    <script class="save-patch-popup-template" type="text/html">
      <div class="error"></div>
      <input type="text" class="patch-name" placeholder="name your patch" />
      <a href="#" class="save">Save</a>
    </script>
        
    <script class="save-loop-popup-template" type="text/html">
      <h5>Name your loop to open source it</h5>
      <input type="text" class="loop-name" placeholder="name your loop" />
      <a href="#" class="save">Save</a>
    </script>
        
    <!-- libs -->
    <script src="/media/scripts/libs/audiolib.js"></script>
    <script src="/media/scripts/libs/jquery.js"></script>
    <script src="/media/scripts/libs/raphael.js"></script>
    <script src="/media/scripts/libs/qwertyhancock.js"></script>
    <script src="/media/scripts/libs/wavyjones.js"></script>
    <script src="/media/scripts/libs/underscore.js"></script>
    <script src="/media/scripts/libs/backbone.js"></script>
    <script src="/media/scripts/libs/backbone.localstorage.js"></script>
    <script src="/media/scripts/libs/wavyjones.js"></script>
    <script src="/media/scripts/libs/recorder.js"></script>
    <script src="/media/scripts/libs/webmidiapishim.js"></script>
    <script src="/media/scripts/libs/spin.js"></script>

    <!-- config -->
    <script src="/media/scripts/config.js"></script>

    <!-- routers -->
    <script src="/media/scripts/synth/routers/main.js"></script>
        
    <!-- models -->
    <script src="/media/scripts/synth/models/synth.js"></script>
    <script src="/media/scripts/synth/models/oscillator.js"></script>
    <script src="/media/scripts/synth/models/oscillator_module.js"></script>
    <script src="/media/scripts/synth/models/mixer.js"></script>
    <script src="/media/scripts/synth/models/gain.js"></script>
    <script src="/media/scripts/synth/models/keyboard.js"></script>
    <script src="/media/scripts/synth/models/filter.js"></script>
    <script src="/media/scripts/synth/models/envelope.js"></script>
    <script src="/media/scripts/synth/models/delay.js"></script>
    <script src="/media/scripts/synth/models/lfo.js"></script>
    <script src="/media/scripts/synth/models/compressor.js"></script>
    <script src="/media/scripts/synth/models/loop_module.js"></script>
    <script src="/media/scripts/synth/models/buffer.js"></script>
    <script src="/media/scripts/synth/models/metronome.js"></script>
    <script src="/media/scripts/synth/models/cv_patch.js"></script>
    <script src="/media/scripts/synth/models/patch.js"></script>
    <script src="/media/scripts/synth/models/cv_patch_module.js"></script>
    <script src="/media/scripts/synth/models/knob.js"></script>
    <script src="/media/scripts/synth/models/type_knob.js"></script>
    <script src="/media/scripts/synth/models/loop.js"></script>
    <script src="/media/scripts/synth/models/white_noise.js"></script>

    <!-- collections -->
    <script src="/media/scripts/synth/collections/patches.js"></script>
    <script src="/media/scripts/synth/collections/cv_patches.js"></script>
        
    <!-- views -->
    <script src="/media/scripts/synth/views/popup_view.js"></script>
    <script src="/media/scripts/synth/views/synth_view.js"></script>
    <script src="/media/scripts/synth/views/oscillator_view.js"></script>
    <script src="/media/scripts/synth/views/mixer_view.js"></script>
    <script src="/media/scripts/synth/views/gain_view.js"></script>
    <script src="/media/scripts/synth/views/keyboard_view.js"></script>
    <script src="/media/scripts/synth/views/filter_view.js"></script>
    <script src="/media/scripts/synth/views/oscillator_module_view.js"></script>
    <script src="/media/scripts/synth/views/envelope_view.js"></script>
    <script src="/media/scripts/synth/views/delay_view.js"></script>
    <script src="/media/scripts/synth/views/lfo_view.js"></script>
    <script src="/media/scripts/synth/views/loop_module_view.js"></script>
    <script src="/media/scripts/synth/views/buffer_view.js"></script>
    <script src="/media/scripts/synth/views/metronome_view.js"></script>
    <script src="/media/scripts/synth/views/cv_patch_view.js"></script>
    <script src="/media/scripts/synth/views/patch_view.js"></script>
    <script src="/media/scripts/synth/views/patches_view.js"></script>
    <script src="/media/scripts/synth/views/cv_patch_module_view.js"></script>
    <script src="/media/scripts/synth/views/knob_view.js"></script>
    <script src="/media/scripts/synth/views/type_knob_view.js"></script>
    <script src="/media/scripts/synth/views/save_patch_popup_view.js"></script>
    <script src="/media/scripts/synth/views/save_loop_popup_view.js"></script>
        


    <!-- init -->
    <script src="/media/scripts/init.js"></script>


        
    <script src="/media/scripts/email.js"></script>




    <script type="text/javascript">
      // Google Analytics

      // var _gaq = _gaq || [];
      // _gaq.push(['_setAccount', 'UA-32112791-1']);
      // _gaq.push(['_setDomainName', 'soundkeep.com']);
      // _gaq.push(['_trackPageview']);
      // 
      // (function() {
      //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      // })();

    </script>
  </body>
</html>

