<!doctype html>
<html>
    <head>
        <title>Robot Audio</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/media/styles/reset.css">
        <link rel="stylesheet/less" href="/media/styles/style.less">
        <script src="/media/scripts/less.js"></script>

    </head>
    <body>
        <%= body %>
        <script src="/media/scripts/jquery.min.js"></script>
        <script src="/media/scripts/spin.js"></script>
        <script src="/media/scripts/script.js"></script>


        <script type="text/javascript">
          // Google Analytics

          // var _gaq = _gaq || [];
          // _gaq.push(['_setAccount', 'UA-32112791-1']);
          // _gaq.push(['_setDomainName', 'soundkeep.com']);
          // _gaq.push(['_trackPageview']);
          // 
          // (function() {
          //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          // })();

        </script>
    </body>
</html>
